
<br>
<div class ="displaymovies">
  <div  *ngFor="let list of movies" class="display" style="cursor:'pointer'">
     
  <img [src]="list.Poster!== 'N/A' ? list.Poster : 'https://previews.123rf.com/images/kaymosk/kaymosk1804/kaymosk180400006/100130939-error-404-page-not-found-error-with-glitch-effect-on-screen-vector-illustration-for-your-design-.jpg?fj=1' " width="200" height="200">
  <p class="printing" >{{list.Title}}</p>

  </div> 
</div>

<div class="btn">
    <button *ngFor="let page of pageArr;" style="display: inline-block"  (click)="sendingmoviename(page)">
        {{ page}}
    </button>
</div>
